
body {
    text-align: center;
    font-family: Courier New, monospace;
    background-color: #795C34;
}

footer {
    background-color: #654321;
    margin-top: 200px;
    padding: 5px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}

.social {
    max-width: 30px;
    max-height: 30px;
}

/* Navigation bar styling */
.navbar {
    background-color: #654321;
    color: black;
}

/* Navbar logos */
.faction {
    max-width: 54px;
    max-height: 54px;
    float: left;
    position: relative;
    margin-left: 10px;

}

.nav-links {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

.nav-links li {
    float: right;
    display: inline-block;
}

.nav-links li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    padding: 16px;
    font-family: Courier New, monospace;

}

.nav-links li a:hover {
    background-color: #F4F0DB;
}

img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

/* Home page photo */
.home-photo {
    padding-top: 20px;
}

/* history page photos */
.photo {
    max-width: 500px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.history-heading {
    font-style: italic;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* vertical timeline */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding-top: 20px;
    position: relative;
    width: 50%;
}

/* circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #654321;
    border: 4px solid black;
    top: 40px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
    left: -16px;
}

.content {
    padding: 10px 10px;
    background-color: #F4F0DB;
    position: relative;
    border-radius: 50px;
    cursor: pointer;
}

.content:hover {
    border: 4px solid black;
}

.content p {
    font-size: 1.4em;
    margin-top: 0;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 0;
}

/* Hide expansion descriptions by default */
#desc-dragon, #desc-shadow, #desc-bfa, #desc-legion, #desc-wod, #desc-pandaria, #desc-cata, #desc-wotlk, #desc-tbc, #desc-vanilla {
    display: none;
}

.alt-heading {
    background-color: #F4F0DB;
    padding: 5px;
    font-style: italic;
}

.survey {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 25px;
    border: 2px solid black;
    background-color: #654321;
}

.survey p {
    font-size: 1.5em;
    font-weight: bold;
}

.button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-family: Courier New, monospace;
    font-size: 1.4em;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 10px;

}

.button:hover{
    background-color: #E6CC80;
}

.survey-results {
    margin-top: 40px;
}

.survey-results p {
    font-size: 1.3em;
    text-align: left;
}

.intro p {
    font-size: 1.3em;
    margin-top: 50px;
}
