{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'warcraftApp/styles.css' %}">
</head>
<body>

    <div class="timeline">
        <div class="left timeline">
            <div class="timeline content">
                <h2>2022</h2>
                <p>Dragonflight is released</p>
                <h2>2018</h2>
                <p>Battle for Azeroth is released</p>
                <h2>2014</h2>
                <p>Warlords of Draenor is released</p>
                <h2>2010</h2>
                <p>Cataclysm is released</p>
                <h2>2007</h2>
                <p>The Burning Crusade is released</p>
            </div>
        </div>

        <div class="right timeline">
            <div class="timeline content">
                <h2>2020</h2>
                <p>Shadowlands is released</p>
                <h2>2016</h2>
                <p>Legion is released</p>
                <h2>2012</h2>
                <p>Mists of Pandaria is released</p>
                <h2>2008</h2>
                <p>Wrath of the Lich King is released</p>
                <h2>2004</h2>
                <p>WoW (Classic) is released</p>
            </div>
        </div>

    </div>

</body>
</html>