{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="{% static 'warcraftApp/styles.css' %}" type="text/css">

</head>

<body>
    <h1>Greetings from Azeroth</h1>

    <nav class="navbar">
        <div class="nav-links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'history' %}">History</a>
            <a href="{% url 'survey' %}">Survey</a>
            <a href="{% url 'about' %}">About</a>
        </div>
    </nav>

    <img src="{% static 'warcraftApp/wowMap.PNG' %}">

    <p>im a paragraph</p>

</body>

<footer>
</footer>

</html>